{% extends "template/layout.twig" %}

{% block title %}{{ parent() }}{% endblock %}

{% block body %}

<a href="{{ generate("articleByUser", [1]) }}">Retour</a>

<h1>
    {{ article.titre }}
</h1>

<span class="text-muted">{{ article.date }}</span>

<p class="mt-2">
    {{ article.contenu }}
</p>



{% endblock %}